@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url(https://img.freepik.com/free-photo/abstract-luxury-blur-dark-grey-black-gradient-used-as-background-studio-wall-display-your-products_1258-52815.jpg?w=1380&t=st=1710567662~exp=1710568262~hmac=2f3c763c010ac5f05c60641b85f4e223ea23053c87f8a732dbd78db041e5197e); /* Replace 'your-image-url.jpg' with the URL of your desired image */
            background-size: cover;
            background-position: center;
            color: #F8F8FF; /* Text color */
            margin: 0;
            padding: 0;
        }

        .content {
            text-align: center;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .display-name {
            font-size: 3em; /* Increase font size */
            margin-bottom: 20px; /* Increase margin for spacing */
        }

        .course-section {
            font-size: 2em; /* Increase font size */
            color: #6c757d;
        }
    </style>
</head>
<body>
    <header>
        <!-- Your navbar code here -->
    </header>

    <div class="content">
        <h1 class="display-name">Jan William Madarang</h1>
        <p class="course-section">BSIT-32E3</p>
    </div>
</body>
</html>
